#sidebar-bookmark-properties .properties .label {
  width:        7em;
  font-weight:  bold;
}

#sidebar-bookmark-properties .properties .property:nth-child(even) {
}
#sidebar-bookmark-properties .properties .property:nth-child(odd) {
  background-color:   #eee;
}
