#connexions-prefs-pane .title {
  font-size:    2em;
  font-weight:  bold;
}
#connexions-prefs-pane .link {
  text-decoration:  underline !important;
  color:            #00f;
  cursor:           pointer;
}
#connexions-prefs-pane .userName {
  font-size:  1.2em;
}
#connexions-prefs-pane .sync-box {
}

#connexions-prefs-pane .sync-box label, .sync-box .sync-period {
  display:        inline-block;
  vertical-align: middle;
}
/*.sync-period .textbox-input-box .textbox-input */
#connexions-prefs-pane .sync-period {
  position:       relative;
  width:          4em;
}
#connexions-prefs-pane .sync-period .textbox-input-box {
  width:          3em;
  padding-right:  2px;
  margin-right:   0;
}
#connexions-prefs-pane .sync-period spinbuttons {
  vertical-align: middle;
  margin-left:    -3px;
  margin-top:     -3px;
}

#connexions-prefs-pane .syncNow-box {
}
#connexions-prefs-pane .syncFull-box {
  margin-top: 0.5em;
}
#connexions-prefs-pane .bordered {
  width:        100%;
  margin-top:   1em;
  padding-top:  1em;
  border-top:   1px solid #999;
}
#connexions-prefs-pane .syncStatus-box {
  padding:      1em;
  min-height:   8.5em;
}
#connexions-prefs-pane .syncStatus-box .syncStatus {
  font-size:    1.2em;
}
#connexions-prefs-pane .syncStatus-box .progressMeter-box {
  min-height:   2em;
  margin-left:  0.5em;
  width:        100%;
}
#connexions-prefs-pane .syncStatus-box .syncDetails {
  margin-left:  2em;
  font-size:    0.8em;
  min-height:   2em;
}
