.title {
  font-size:    2em;
  font-weight:  bold;
}
.link {
  text-decoration:  underline !important;
  color:            #00f;
  cursor:           pointer;
}
.userName {
  font-size:  1.2em;
}
.sync-box {
}

.sync-box label, .sync-box .sync-period, .sync-box spinbuttons {
  display:        inline-block;
  vertical-align: middle;
}
.sync-box .sync-period {
  /*width:          4em;*/
  /*margin-right:   0;*/
}
.sync-box spinbuttons {
  /*margin-left:    0;*/
}

.syncNow-box {
}
.syncFull-box {
  margin-top: 0.5em;
}
.bordered {
  width:        100%;
  margin-top:   1em;
  padding-top:  1em;
  border-top:   1px solid #999;
}
.syncStatus-box {
  padding:      1em;
  min-height:   8.5em;
}
.syncStatus-box .syncStatus {
  font-size:    1.2em;
}
.syncStatus-box .progressMeter-box {
  min-height:   2em;
  margin-left:  0.5em;
  width:        100%;
}
.syncStatus-box .syncDetails {
  margin-left:  2em;
  font-size:    0.8em;
  min-height:   2em;
}
