.sidebar-header {
    padding:        0.25em 0.25em 0.1em;
}

.sidebar-title {
    font-weight:    bold;
}
.sidebar-count {
    font-size:      0.8em;
}

.list {
    padding:    2px;
    width:      100%;
}
.item-odd {
    background-color:   #eee;
}
.item-even {
}

.bookmarks {
}
.bookmark-name {
    width:      100%;
}
.bookmark-properties {
    margin:     0;
    padding:    0;
    width:      16px;
    height:     16px;
}
.bookmarks .favorite-private {
  list-style-image: url("chrome://connexions/skin/favorite+private-16.png");
}
.bookmarks .favorite {
  list-style-image: url("chrome://connexions/skin/favorite-16.png");
}
.bookmarks .private {
  list-style-image: url("chrome://connexions/skin/private-16.png");
}

.tags {
}
.tags .tag-name {
}
.tags .tag-frequency {
    font-size:      0.8em;
}
