@import "sizes";
@import "colors";
@import "mixins";
@import "ribbon-form";

/****** auth.sass ****** */
// Styling for registration / login
#auth {
  width:      35em;

  form {
    .field {
      input.text {
        width: 100%;
      }
    }

    .buttons {
      padding:  0 0 1em 0;
    }

    .note {
      color:      $controlColor;
      font-size:  0.85em;
      padding:    0 0 1em 7em;
    }

    .options {
      label {
        @include  inlineBlock();
      }
    }

    .username {
      label {
        position: relative;
        top:      auto;
        left:     auto;
      }
    }

    .credentials, .userpassword, .pki {
      padding:        0.5em 0.5em 0;
      margin-bottom:  1em;
      border:         unquote("1px solid") $borderColor;
      @include        corners(0, 0, 10px, 10px);

      legend {
        padding:      0 1em;
        color:        $linkColor;
        font-size:    0.8em;
      }
    }

    .pki {
      padding-top:    1em;
      padding-bottom: 1em;
      border-top:   unquote("1px solid") $borderColor;

      .dn {
        display:          block;
        @include          corners(0, 10px, 0, 10px);
        border:           unquote("1px solid") $borderColor;
        background-color: $lightestGrey;

        text-align:       left;
        font-size:        0.8em;
        margin-bottom:    0.2em;
        padding-left:     25px;

        .ui-icon {
          display:          block;
          position:         absolute;
          left:             1px;

          background-image: none;

          .connexions_sprites {
            display:        block;
          }
        }
      }

      .options {
        text-align: right;
      }
    }
  }
  .formError {
    padding: 1em 0;
    font-weight: bold;
    text-align: center;
  }
}
