/*fieldInfoColor             = !validationInputColor */
/*fieldInfoColor             = !validationInputColor */
/****** ribbon-form.sass ****** */
/* ====== Forms ====== */
.ribbon-form { padding: 0; float: none; }
.ribbon-form .context-ribbon { position: absolute; top: 0; left: 0; width: 48px; height: 100%; background-color: #3d7cc2; -moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -khtml-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; }
.ribbon-form .legend { margin-left: 48px; padding-right: 0; text-align: left; width: 8em; }
.ribbon-form .legend .context-bg { position: absolute; left: -48px; -moz-border-radius: 8px 0 0 0; -webkit-border-radius: 8px 0 0 0; -ms-border-radius: 8px 0 0 0; -khtml-border-radius: 8px 0 0 0; border-radius: 8px 0 0 0; }
.ribbon-form .legend h1 { padding: 0 2em 0 0.2em; font-size: 1.25em; font-weight: bold; }
.ribbon-form .legend p { padding: 0 0 0 0.5em; }
.ribbon-form .legend .status { margin-top: 5em; padding: 0.5em; text-align: center; color: #999999; }

/****** auth.sass ****** */
#auth { width: 35em; }
#auth form .field input.text { width: 100%; }
#auth form input.button { background-color: #59a5d1; border-color: #408bb6; color: white; cursor: pointer; }
#auth form .buttons { padding: 0 0 1em 0; }
#auth form .options label { display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; }
#auth form .username label { position: relative; top: auto; left: auto; }
#auth form .userpassword, #auth form .pki { padding: 0.5em 0.5em 0; margin-bottom: 1em; border: 1px solid #cccccc; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; -ms-border-radius: 0 0 10px 10px; -khtml-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; }
#auth form .userpassword legend, #auth form .pki legend { padding: 0 1em; color: #0066cc; font-size: 0.8em; }
#auth form .pki { padding-top: 1em; padding-bottom: 1em; border-top: 1px solid #cccccc; }
#auth form .pki .dn { display: block; -moz-border-radius: 0 10px 0 10px; -webkit-border-radius: 0 10px 0 10px; -ms-border-radius: 0 10px 0 10px; -khtml-border-radius: 0 10px 0 10px; border-radius: 0 10px 0 10px; border: 1px solid #cccccc; background-color: #eeeeee; text-align: left; font-size: 0.8em; margin-bottom: 0.2em; }
#auth form .pki .dn .ui-icon { display: block; background-image: none; margin: 1px 1em 0 2px; float: left; }
#auth form .pki .dn .ui-icon .connexions_sprites { display: block; }
#auth form .pki .options { text-align: right; }
#auth .formError { padding: 1em 0; font-weight: bold; text-align: center; }
