$lightest:            #fff;
$darkest:             #172322;

$pageColorBackground: $lightest;

$linkColor:           #06c;
$linkColorVisited:    #005a9c;
$linkColorSubdued:    #369;  //#396C9B;
$controlColor:        #999;
$borderColor:         #ccc;

// From css/themes/base/jquery-ui.css : .ui-state-error
$errorColor:                  #cd0a0a;  // jquery-ui.css fcError
$warningColor:                #363636;  // jquery-ui.css fcHighlight
$successColor:                #667e32;
$confirmColor:                $errorColor;

$errorColorBackground:        #fef1ec;  // jquery-ui.css bgColorError
$warningColorBackground:      #fbec88;  // jquery-ui.css bgColorHighlight

$navColorBackground:          $darkest;
$navColorWelcomeBackground:   $linkColorSubdued; //#3d7cc2; //#142940;
$navColorJoinBackground:      #9fc54e;
$navColor:                    $lightest;
$navColorHover:               #b0d730;
$navColorSelected:            #b0d730;
$navColorSub:                 #2786c2;
$navColorSubHover:            #7fcdfe;
$navColorBorder:              #666;

$groupHeaderColorBackground:  #edf4fb;        //#eef;
$groupHeaderColor:            $controlColor;
$groupHeaderYearColor:        $groupHeaderColorBackground - #111100;
$groupHeaderAlphaColor:       $groupHeaderColorBackground - #333300;

$privateColorBackground:  #fff0f0;
$privateColorBorder:      #f99;

$tagColorBackground:  #eee;
$tagColorHighlight:   #999;
$tagColor:            $navColorBackground;

$highlightTopColorBackground: #f3f3ff;
$highlightTopHeaderColor:     $navColorBackground;
$highlightTopTagColor:        $navColorSub;
$highlightTopTagCountColor:   $controlColor;

$tagsHeaderColorBackground:       $highlightTopColorBackground;
$tagsHeaderColorBorder:           $tagsHeaderColorBackground - #101000;

//!fieldInfoColor             = !validationInputColor
$fieldInfoColor:      $controlColor;
$fieldTextColor:      #555;
$formBackgroundColor: #86c9ef;

$validationInputColor:        #aaa;
$validationFocusColor:        $fieldTextColor;
$validationFocusBorderColor:  $validationInputColor;
$validationValidColor:        $successColor;

$inputChangedColor:           #ccc856;

$columnHeaderBorderColor: #eee;

$contextColorBackground:  #3d7cc2;

$li_oddColor:   $highlightTopColorBackground;
$li_evenColor:  none;

$collapsableColor:            $controlColor;
$collapsableColorBackground:  #eee;
