@import "colors";

.displayOptions {
  float: right;
  padding-top: 0.5em;
  form {
    position:   absolute;
    top:        2.5em;
    right:      0;
    padding:    0.5em;
    width:      20em;
    z-index:    4;
    select {
      font-size: 0.9em;
    }
  }
  .control {
    z-index: 3;
    cursor: pointer;
    padding: 0.3em 0.25em 0.25em;
    a {
      font-weight: normal;
    }
    .ui-icon {
      //margin-top:   2px
      float: right;
    }
  }
  .buttons {
    text-align: right;
    button {
      display: inline;
      padding: 0.25em;
    }
  }
  #buttons-global {
    padding: 0.5em 0.5em 0;
    border-top: unquote("1px dotted") $borderColor;
  }
  .field {
    display: block;
    padding-bottom: 0.25em;
    label {
      clear:    left;
      width:    6em;
      float:    left;
      padding:  0.25em 0;
    }
  }
  //.sortBy
  .sortOrder {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: unquote("1px dotted") $borderColor;
    .field {
      float: left;
      padding-bottom: 0;
      padding-right: 0.5em;
      label {
        display: inline;
        float: none;
        width: auto;
        padding: 0 0.1em;
        font-size: 0.8em;
      }
      input,label {
        cursor: pointer;
      }
    }
  }
  .perPage {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: unquote("1px dotted") $borderColor;
  }
  .displayStyle {
    display: block;
    position: relative;
    width: auto;
    text-align: left;
    padding-top: 1em;
    label {
      cursor: pointer;
    }
    ul.groups {
      padding: 0;
      li.field {
        display: block;
        float: left;
        padding: 0.25em;
        label {
          display: inline;
          float: none;
          width: auto;
          padding: 0;
        }
      }
      li.field {
        cursor: pointer;
      }
      li.control {
        position: relative;
        padding:  0.25em 0.25m 0.15em 0;
      }
      li.ui-state-active {
        font-weight: bold;
      }
      li.toggle {
        border: none;
      }
    }
  }
}

// More specific to override '.bookmarks fieldset.options'
.pane .displayOptions .displayStyle fieldset.options {
  padding-top: 0.5em;
  .item {
    border:         unquote("1px solid") $borderColor;
    border-bottom:  none;
    padding:        0 0 0.1em 0.2em;
    label {
      display: inline;
      float: none;
      width: auto;
      padding-left: 0.25em;
    }
    .stats {
      font-weight: normal;
      padding: 0;
      .rating {
        padding: 0.25em 0.1em 0.25em 0.5em;
        text-align: left;
        .info {
          text-align: left;
          float: none;
          padding: 0;
        }
      }
    }
    .data {
      padding-left:   0;
      padding-right:  0.1em;
      .itemName {
        padding-bottom: 0.5em;
      }
      .url, .description, .description .full, .description .summary {
        margin: 0;
      }
      .description {
        .full, .summary {
          padding: 0;
        }
      }
      .userId {
        white-space:    normal;
        padding:        0 0 0 1em;
        margin-bottom:  1em;
        font-size:      0.8em;
        label {
          padding-left: 0;
        }
        .avatar {
          position: relative;
          float: left;
          padding: 0 0.75em 0 0.25em;
          label {
            padding-left: 8px;
          }
          .img {
            position: absolute;
            left: 14px;
            top: 0;
          }
        }
        .id {
          display: inline;
        }
      }
      .tags {
        width:          auto;
        text-align:     left;
        margin-bottom:  1em;
        padding:        0;
        label,.tag {
          display:      inline;
          float:        none;
          font-size:    0.8em;
        }
      }
      .dates {
        .updated {
          width: auto;
        }
      }
    }
  }
}
