@import "sizes";
@import "colors";
@import "mixins";
@import "urls";
@import "sprites";

#help {
}
#help-faq {
  .collapsable {
    .toggle {
      color:            $linkColor;
      background-color: inherit;
      border:           none;
      
    }

    .faq-answer {
      margin-left:    10px;
      padding:        0.5em 2em 1em;

      border-bottom:  unquote("1px solid") $borderColor;
      border-left:    unquote("1px solid") $borderColor;

      p {
        padding:  0;
      }
    }
  }
}
