@import "sizes";

// For libraries.scss
.clearfix {
  display:  inline-block;
  zoom:     1;
  display:  block;
}

.inlineBlock {
  /* Trigger 'hasLayout' and set display to inline == inline-block */
  zoom:     1;
  display:  inline;
}

// template.scss
.main {
  position:     relative;
  left:         -3px;
  margin-right: -3px;
  zoom:         1;
}

.leftCol {
  margin-right: -3px;
}
.rightCol {
  margin-right: -3px;
}

// For jquery-ui
@import "ie-jquery-ui";

// For main.scss
.pane {
  zoom:   1;
}

// For tabs.scss
@import "ie-corner";
#pageHeader {
  .siteAuth {
    z-index:  2;
    .siteMarking {
      right:  $tabWidth + 20px;
    }
    .authInfo {
      width:    $tabWidth + 20px;
      z-index:  2;    /* ABOVE .siteNav */
    }
  }
  .siteNav {
    z-index:  1;
    .tabs {
      width:    $tabWidth + 20px;

      li {
        // Firefox/Chrome 88px, 81px
        width:  $navWidthItem - 7;
      }
    }
    .nav {
      width:    $navWidth + 20px;

      li {
        height: $tabHeight - 5px;
      }
    }
    #search {
      padding-top:  1px;
      height:       $tabHeight - 8px;
    
      .submit {
        left:  $searchInputInputWidth;
      }
      .choices {
        .list {
          top: $tabHeight - ($navPadItem * 2) + 3px;
          li {
            width:  $searchInputInputWidth;
          }
        }
      }
    }
  }
}

.collapsable {
  .toggle {
    width:  100%;
  }
}

*:first-child+html, * html {
  #search .choices .list {
      top:  $navTopSub;
  }
}

// For itemScope.scss
.itemScope {
  zoom:   1;

  ul {
    height: 1.8em;
  }

  .scopeEntry {
    padding-top:  0;

    .tagInput {
      margin-top: 0.1em;
      .tagList {
        .tag {
          padding-right:  18px;

          .delete {
            position:     absolute;
            right:        -4px;
            top:          0px;
            z-index:      100;
          }
        }
      }
    }

    button {
      position:     absolute;
      top:          0.2em;
    }

  }
}

// For bookmarks.scss
.bookmarks, .pane .displayStyle fieldset.options {
  .item {
    .data {
      .url {
        width:  $urlBoxWidth;
      }
      .meta {
        .dates {
          width:  8em;
        }
      }
    }
  }
}

// For users.scss
#usersList {
  .users {
    .user {
      .data {
        .email {
          width:  $urlBoxWidth;
        }
      }
    }
  }
}

// For displayOptions.scss
.displayOptions {
  width:    9em;
  z-index:  10;

  .displayStyle {
    ul.groups {
      li.control {
        top:  0.4em;
      }
    }
  }
}

.itemItems, .userItems {
  .displayOptions {
    form {
      .itemCounts {
        padding-bottom: 1em;
        .highlightCount {
          position: absolute;
          top:      0.5em;
          right:    0;

          float:    none;
        }
      }
    }
  }
}

// For settings.scss
#settings {
  .pane {
    background: none;
  }
}
.account {
  .account-credentials {
    .type, .name, .credential, .typeSelection {
      margin-right: 4px;
    }
    .control {
      margin-left:  4px;
    }
  }
}

