/****** ui-form.sass ****** */
/* ====== Forms ====== */
.ribbon-form { padding: 0; }
.ribbon-form .context-ribbon { position: absolute; top: 0; left: 0; width: 48px; height: 100%; background-color: #3d7cc2; -moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -khtml-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; }
.ribbon-form .legend { margin-left: 48px; padding-right: 0; text-align: left; width: 8em; }
.ribbon-form .legend .context-bg { position: absolute; left: -48px; -moz-border-radius: 8px 0 0 0; -webkit-border-radius: 8px 0 0 0; -ms-border-radius: 8px 0 0 0; -khtml-border-radius: 8px 0 0 0; border-radius: 8px 0 0 0; }
.ribbon-form .legend h1 { padding: 0 2em 0 0.2em; font-size: 1.25em; font-weight: bold; }
.ribbon-form .legend p { padding: 0 0 0 0.5em; }
.ribbon-form .legend .status { margin-top: 5em; padding: 0.5em; text-align: center; color: #999999; }

/****** post.sass ****** */
#post .item-description textarea, #post .item-tags textarea, .ui-validation-form .item-description textarea, .ui-validation-form .item-tags textarea { height: 4em; }
#post .suggestions, .ui-validation-form .suggestions { margin: 1em 0 0 1em; }
#post .suggestions .ui-tabs-panel, .ui-validation-form .suggestions .ui-tabs-panel { padding: 0.25em; }
#post .suggestions .cloud, #post .suggestions .db-profile, .ui-validation-form .suggestions .cloud, .ui-validation-form .suggestions .db-profile { font-size: 1em; width: 28em; }
#post .suggestions .db-profile, .ui-validation-form .suggestions .db-profile { margin: 0.5em; }
#post .suggestions .cloud, .ui-validation-form .suggestions .cloud { padding-bottom: 1em; }
#post .suggestions .cloud .cloudItem .size0, .ui-validation-form .suggestions .cloud .cloudItem .size0 { font-size: 0.65em; }
#post .suggestions .cloud .cloudItem .size1, .ui-validation-form .suggestions .cloud .cloudItem .size1 { font-size: 0.75em; }
#post .suggestions .cloud .cloudItem .size2, .ui-validation-form .suggestions .cloud .cloudItem .size2 { font-size: 0.85em; }
#post .suggestions .cloud .cloudItem .size3, .ui-validation-form .suggestions .cloud .cloudItem .size3 { font-size: 0.95em; }
#post .suggestions .cloud .cloudItem .size4, .ui-validation-form .suggestions .cloud .cloudItem .size4 { font-size: 1.05em; }
#post .suggestions .cloud .cloudItem .size5, .ui-validation-form .suggestions .cloud .cloudItem .size5 { font-size: 1.10em; }
#post .suggestions .cloud .cloudItem .size6, .ui-validation-form .suggestions .cloud .cloudItem .size6 { font-size: 1.25em; }

.ui-dialog-bookmarkPost .ui-dialog-content { padding: 0; }
.ui-dialog-bookmarkPost .ui-validation-form { padding: 0; border: none; float: none; }
