/*fieldInfoColor             = !validationInputColor */
@page { size: 8.5in 11in; margin: 0.5in 1in 0.75in;
  @top-left { content: string(page-title); }
  @top-right { content: env(date-time); }
  @bottom-left { content: env(url); }
  @bottom-right { content: counter(page) " of " counter(pages); } }

/* General overrides */
body { background: white; }

title { string-set: page-title content(); }

a { text-decoration: none; }

/* Hide extraneous, top-level elements */
#pageFooter, #notifications, .template { display: none; }

/* Layout overrides */
#pageHeader { font-size: 1em; /* Hide extraneous, header-level elements */ }
#pageHeader .siteNotification, #pageHeader .menu-arrow, #pageHeader .siteNav { display: none; }
#pageHeader .siteAuth { background: none; }
#pageHeader .siteAuth .authInfo { width: 3in; /* Hide extraneous, site-auth elements */ }
#pageHeader .siteAuth .authInfo .inbox-indicator { display: none; }
#pageHeader .siteAuth .authInfo .authMenu { border: none; padding-right: 1em; }
#pageHeader .siteAuth .authInfo .userName { color: #222222; }
#pageHeader .siteAuth .authInfo .userName:before { font-size: 0.7em; padding-right: 1em; color: #999999; vertical-align: middle; content: "Authenticated as "; }

#pageContent { padding-right: 1em; /* Hide extraneous, content-level elements */ }
#pageContent .rightCol { display: none; }
#pageContent .main { padding-top: 1em; /* Hide extraneous elements */ }
#pageContent .main .columnHeader, #pageContent .main .itemScope .scopeEntry { display: none; }

/* General Panes */
.pane { /* Hide extraneous, pane-level elements */ /* General item lists */ /* Bookmark list */ /* User list */ /* Tag cloud */ }
.pane .displayOptions, .pane .refreshPane { display: none; }
.pane .items { margin-left: 2em; }
.pane .bookmarks .item { page-break-inside: avoid; orphans: 4; }
.pane .bookmarks .item .data .itemName a { display: block; }
.pane .bookmarks .item .data .itemName a:after { font-size: 0.7em; display: block; padding-left: 1em; content: " [" attr(href) "] "; }
.pane .users .person { page-break-inside: avoid; orphans: 4; }
.pane .cloud { /* Hide extraneous elements */ }
.pane .cloud .highlights { display: none; }
.pane .cloud .Item_Cloud, .pane .cloud .Item_List { padding-left: 1em; padding-right: 1em; }
.pane .cloud .Item_Cloud .cloudItem .control, .pane .cloud .Item_Cloud li .control, .pane .cloud .Item_List .cloudItem .control, .pane .cloud .Item_List li .control { display: none; }
