/* ****** userItems.sass ****** */
.displayOptions { float: right; padding-top: 0.5em; }
.displayOptions .control { z-index: 3; cursor: pointer; padding: 0.2em 0 0.1em 0.2em; }
.displayOptions .control a { font-weight: normal; }
.displayOptions .control .ui-icon { float: right; }
.displayOptions .buttons { text-align: right; }
.displayOptions .buttons button { display: inline; padding: 0.25em; }
.displayOptions #buttons-global { margin-top: 2em; padding: 0.5em 0.5em 0; border-top: 1px dotted #cccccc; }
.displayOptions .buttons-custom { margin-top: 0.5em !important; }
.displayOptions .field { display: block; padding-bottom: 0.25em; }
.displayOptions .field label { clear: left; width: 6em; float: left; }
.displayOptions form { position: absolute; top: 2.25em; right: 0; width: 22em; padding: 0.5em; z-index: 2; }
.displayOptions form .sortOrder { padding-top: 0.5em; padding-bottom: 0.5em; border-bottom: 1px dotted #cccccc; }
.displayOptions form .sortOrder .field { float: left; padding-bottom: 0; padding-right: 0.5em; }
.displayOptions form .sortOrder .field label { display: inline; float: none; width: auto; padding: 0 0.1em; }
.displayOptions form .sortOrder .field input, .displayOptions form .sortOrder .field label { cursor: pointer; }
.displayOptions form .displayStyle { display: block; position: relative; width: auto; text-align: left; padding-top: 1em; }
.displayOptions form .displayStyle a { font-weight: normal; }
.displayOptions form .displayStyle .option-selected { font-weight: bold; }
.displayOptions form .displayStyle .option, .displayOptions form .displayStyle .comma { display: block; float: left; }
.displayOptions form .displayStyle .option.control { position: relative; top: -0.25em; }
.displayOptions form .displayStyle .comma { padding-right: 0.5em; }
.displayOptions form .displayStyle .custom { padding-top: 0.5em; border-bottom: 0; }
.displayOptions form .displayStyle .custom .item { border: 1px solid #cccccc; padding: 0 0.1em 0.1em 0.2em; }
.displayOptions form .displayStyle .custom .item label { display: inline; float: none; width: auto; padding-left: 0.25em; }
.displayOptions form .displayStyle .custom .item .meta { font-weight: normal; }
.displayOptions form .displayStyle .custom .item .data { padding-left: 0; }
.displayOptions form .displayStyle .custom .item .data .itemName { padding-bottom: 0.5em; }
.displayOptions form .displayStyle .custom .item .data .url, .displayOptions form .displayStyle .custom .item .data .description, .displayOptions form .displayStyle .custom .item .data .descriptionSummary { margin: 0; }
.displayOptions form .displayStyle .custom .item .data .rating { padding: 0.25em 0 0.25em 0.5em; text-align: left; }
.displayOptions form .displayStyle .custom .item .data .rating .meta { text-align: left; float: none; padding: 0; }
.displayOptions form .displayStyle .custom .item .data .userId .userId-avatar { float: right; padding-left: 0.75em; }
.displayOptions form .displayStyle .custom .item .data .tags { width: auto; text-align: left; }
.displayOptions form .displayStyle .custom .item .data .tags .tag { display: inline; float: none; }
.displayOptions form .displayStyle .custom .item .data .dates .updated { width: auto; }

.pagination-top { float: left; padding: 0.5em 0; }
.pagination-top .pager { display: inline; }

.items { clear: both; border-bottom: 1px solid #cccccc; }
.items .item { position: relative; z-index: 1; margin-bottom: 0.25em; border-top: 1px solid #cccccc; }
.items .item .status { position: absolute; top: 0; left: 0; width: 20px; height: 100%; z-index: 3; }
.items .item .status .checkbox { border: 0; }
.items .item .status .favorite, .items .item .status .private { position: absolute; cursor: pointer; }
.items .item .status .favorite { top: 4px; left: 4px; }
.items .item .status .private { top: 24px; left: 4px; }
.items .item .meta { position: relative; float: right; width: 100px; padding: 0 0 0 4px; text-align: right; z-index: 2; }
.items .item .meta .countTaggers { display: block; background-color: #999999; color: white; padding: 0.25em; font-weight: normal; text-align: center; text-decoration: none; }
.items .item .meta .countTaggers:hover { background-color: #b0d730; }
.items .item .meta .rating { display: block; position: relative; }
.items .item .meta .rating .stars { display: block; height: 18px; }
.items .item .meta .rating .stars .owner, .items .item .meta .rating .stars .average, .items .item .meta .rating .stars .average-owner { display: block; width: 96px; overflow: hidden; }
.items .item .meta .rating .stars .owner .ui-stars, .items .item .meta .rating .stars .average .ui-stars, .items .item .meta .rating .stars .average-owner .ui-stars { display: block; float: left; cursor: pointer; overflow: hidden; text-indent: 999em; }
.items .item .meta .rating .stars .owner .ui-stars a, .items .item .meta .rating .stars .average .ui-stars a, .items .item .meta .rating .stars .average-owner .ui-stars a { background: url('sprites/connexions.gif') no-repeat scroll 0 0; display: block; width: 16px; height: 16px; }
.items .item .meta .rating .stars .owner .ui-stars-star-off a, .items .item .meta .rating .stars .owner .ui-stars-star a, .items .item .meta .rating .stars .owner .ui-stars-star-disabled a, .items .item .meta .rating .stars .average .ui-stars-star-off a, .items .item .meta .rating .stars .average .ui-stars-star a, .items .item .meta .rating .stars .average .ui-stars-star-disabled a, .items .item .meta .rating .stars .average-owner .ui-stars-star-off a, .items .item .meta .rating .stars .average-owner .ui-stars-star a, .items .item .meta .rating .stars .average-owner .ui-stars-star-disabled a { background-position: -72px -58px; }
.items .item .meta .rating .stars .owner .ui-stars-star-on a, .items .item .meta .rating .stars .average .ui-stars-star-on a, .items .item .meta .rating .stars .average-owner .ui-stars-star-on a { background-position: -104px -58px; }
.items .item .meta .rating .stars .owner .ui-stars-star-hover a, .items .item .meta .rating .stars .average .ui-stars-star-hover a, .items .item .meta .rating .stars .average-owner .ui-stars-star-hover a { background-position: -88px -58px; }
.items .item .meta .rating .stars .owner .ui-stars-cancel, .items .item .meta .rating .stars .average .ui-stars-cancel, .items .item .meta .rating .stars .average-owner .ui-stars-cancel { padding: 1px; }
.items .item .meta .rating .stars .owner .ui-stars-cancel a, .items .item .meta .rating .stars .average .ui-stars-cancel a, .items .item .meta .rating .stars .average-owner .ui-stars-cancel a { width: 14px; height: 14px; background-position: -72px -44px; }
.items .item .meta .rating .stars .owner .ui-stars-cancel-hover a, .items .item .meta .rating .stars .average .ui-stars-cancel-hover a, .items .item .meta .rating .stars .average-owner .ui-stars-cancel-hover a { background-position: -86px -44px; }
.items .item .meta .rating .stars .owner .ui-stars-cancel-disabled a, .items .item .meta .rating .stars .average .ui-stars-cancel-disabled a, .items .item .meta .rating .stars .average-owner .ui-stars-cancel-disabled a { background-image: none; }
.items .item .meta .rating .stars .owner .ui-stars-star-disabled, .items .item .meta .rating .stars .owner .ui-stars-cancel-disabled, .items .item .meta .rating .stars .average .ui-stars-star-disabled, .items .item .meta .rating .stars .average .ui-stars-cancel-disabled, .items .item .meta .rating .stars .average-owner .ui-stars-star-disabled, .items .item .meta .rating .stars .average-owner .ui-stars-cancel-disabled { cursor: default; }
.items .item .meta .rating .stars .average, .items .item .meta .rating .stars .average-owner { padding-left: 16px; }
.items .item .meta .rating .stars .average-owner { position: absolute; top: 2px; left: 1px; }
.items .item .meta .rating .stars .average-owner .ui-stars-star-on a { background-position: -88px -58px; }
.items .item .meta .rating .meta { clear: left; color: #999999; font-size: 0.75em; }
.items .item .data { position: relative; padding: 0.25em 0 0 32px; z-index: 1; }
.items .item .data .itemName { padding: 0; }
.items .item .data .itemName a { display: inline; font-weight: bold; }
.items .item .data .url { padding: 0 0 0 1em; max-width: 526px; *width: 526px; }
.items .item .data .url a { display: inline; font-weight: normal; }
.items .item .data .description, .items .item .data .descriptionSummary { display: block; padding: 0 0 0 1em; margin: 0 175px 0 0; color: #999999; }
.items .item .data .userId { display: block; float: left; font-size: 0.9em; padding: 0.5em 0 0.5em 1em; margin: 0; white-space: pre; }
.items .item .data .userId a { font-weight: normal; }
.items .item .data .userId a .img { display: block; position: relative; float: left; border: 0; background-color: transparent; }
.items .item .data .userId a .img img { width: 16px; height: 16px; }
.items .item .data .userId a .img .ui-icon { background-color: transparent; position: relative; top: -2px; }
.items .item .data .userId a .name { display: inline; font-size: 0.9em; padding-left: 0.25em; }
.items .item .data .tags { display: block; float: right; font-size: 0.9em; padding: 0.5em 0; margin: 0; text-align: right; }
.items .item .data .tags .tag, .items .item .data .tags .tag:hover { display: block; float: right; padding: 0.2em; margin: 0.1em; background-color: #eeeeee; color: #172322; }
.items .item .data .tags .tag a, .items .item .data .tags .tag a:hover, .items .item .data .tags .tag a:visited, .items .item .data .tags .tag a:focus, .items .item .data .tags .tag:hover a, .items .item .data .tags .tag:hover a:hover, .items .item .data .tags .tag:hover a:visited, .items .item .data .tags .tag:hover a:focus { display: inline; font-weight: normal; text-decoration: none; color: #172322; }
.items .item .data .tags .tag:hover { background-color: #172322; color: #eeeeee; }
.items .item .data .tags .tag:hover a, .items .item .data .tags .tag:hover a:hover, .items .item .data .tags .tag:hover a:visited, .items .item .data .tags .tag:hover a:focus { color: #eeeeee; }
.items .item .data .dates { display: block; font-size: 0.8em; height: 1em; padding-left: 1em; color: #999999; }
.items .item .data .dates .tagged { float: left; }
.items .item .data .dates .updated { float: right; }
.items .item .data .control { display: inline; font-size: 0.65em; border: 0; padding: 0 0 0 2em; margin: 0; font-weight: normal; white-space: pre; z-index: 3; color: #999999; }
.items .item .data .control a { display: inline; font-weight: normal; text-decoration: none; padding: 0.1em; }
.items .item .data .control a:hover { background-color: #0066cc; color: white; text-decoration: none; }
.items .private .status { background-color: #ffeeee; border-left: 1px dotted #ff3333; }
.items .minimized { clear: left; }
.items .minimized .control { float: right; padding: 0; font-size: 0.9em; }
.items .minimized .status { display: none; }
.items .minimized .data { margin-left: 5em; padding-left: 0; }
.items .minimized .data .itemName, .items .minimized .data .descriptionSummary { display: inline; }
.items .minimized .data .userId { position: absolute; left: -5.25em; width: 5em; padding: 0.25em 0; overflow: hidden; }
.items .minimized .data .descriptionSummary { padding: 0 0 0 0.5em; margin: 0; }
.items .minimized .data .tags { padding: 0.1em 0 0 0.5em; clear: right; }
.items .no-userId .data { margin-left: 32px; }
.items .mine { min-height: 45px; }
.items .mine .status { display: block; min-height: 45px; }
.items .mine.minimized .userId { display: none; }
