/* ****** users.sass ****** */
#usersList .displayOptions .buttons-custom { margin-top: 0 !important; }
#usersList .displayOptions form { width: 22em; }
#usersList .displayOptions form .sortOrder { padding-top: 0.5em; padding-bottom: 0.5em; border-bottom: 1px dotted #cccccc; }
#usersList .displayOptions form .sortOrder .field { float: left; padding-bottom: 0; padding-right: 0.5em; }
#usersList .displayOptions form .sortOrder .field label { display: inline; float: none; width: auto; padding: 0 0.1em; }
#usersList .displayOptions form .sortOrder .field input, #usersList .displayOptions form .sortOrder .field label { cursor: pointer; }
#usersList .displayOptions form .perPage { padding-top: 0.5em; padding-bottom: 0.5em; border-bottom: 1px dotted #cccccc; }
#usersList .displayOptions form .displayStyle { display: block; position: relative; width: auto; text-align: left; padding-top: 1em; }
#usersList .displayOptions form .displayStyle a { font-weight: normal; }
#usersList .displayOptions form .displayStyle .option-selected { font-weight: bold; }
#usersList .displayOptions form .displayStyle .option, #usersList .displayOptions form .displayStyle .comma { display: block; float: left; }
#usersList .displayOptions form .displayStyle .option.control { position: relative; top: -0.25em; }
#usersList .displayOptions form .displayStyle .comma { padding-right: 0.5em; }
#usersList .displayOptions form .displayStyle .custom { padding-top: 0.5em; border-bottom: 0; }
#usersList .displayOptions form .displayStyle .custom .user { border: 1px solid #cccccc; padding: 0 0.1em 0.1em 0.2em; }
#usersList .displayOptions form .displayStyle .custom .user label { display: inline; float: none; width: auto; padding-left: 0; }
#usersList .displayOptions form .displayStyle .custom .user .stats { font-weight: normal; }
#usersList .displayOptions form .displayStyle .custom .user .data { padding-left: 24px; }
#usersList .displayOptions form .displayStyle .custom .user .data .avatar { border: 1px solid #cccccc; height: 32px; width: 18px; margin-top: 0.2em; padding: 0 2px; }
#usersList .displayOptions form .displayStyle .custom .user .data .avatar label { display: none; }
#usersList .displayOptions form .displayStyle .custom .user .data .userId { font-size: 1.0em; }
#usersList .displayOptions form .displayStyle .custom .user .data .fullName, #usersList .displayOptions form .displayStyle .custom .user .data .email { display: inline; font-size: 0.9em; padding: 0.25em 0 0.25em 1em; }
#usersList .displayOptions form .displayStyle .custom .user .data .email { padding-right: 0.5em; }
#usersList .displayOptions form .displayStyle .custom .user .data .fullName { float: none; }
#usersList .displayOptions form .displayStyle .custom .user .data .tags { clear: both; width: auto; text-align: left; padding: 0.25em 0; }
#usersList .displayOptions form .displayStyle .custom .user .data .tags label { display: inline; float: none; font-size: 0.8em; }
#usersList .displayOptions form .displayStyle .custom .user .data .dates { padding: 0.25em 0; }
#usersList .displayOptions form .displayStyle .custom .user .data .dates .lastVisit { display: block; }
#usersList .users { clear: both; padding-top: 2em; border-bottom: 1px solid #cccccc; }
#usersList .users .groupHeader { position: relative; background-color: #eeeeff; border-bottom: 1px solid #cccccc; color: #999999; height: 20px; left: -15px; }
#usersList .users .groupHeader .group { position: relative; background-color: #eeeeff; height: 20px; right: -20px; }
#usersList .users .groupHeader .date { position: relative; left: -12px; }
#usersList .users .groupHeader .date .year { position: absolute; left: 1em; top: -0.45em; font-size: 3em; font-weight: bold; color: #ddddff; z-index: 4; }
#usersList .users .groupHeader .date .dateBox { position: relative; left: -0.25em; font-size: 1em; font-weight: bold; }
#usersList .users .groupHeader .date .dateBox .month { display: inline; }
#usersList .users .groupHeader .date .dateBox .day { display: inline; padding: 0 0.25em; }
#usersList .users .groupHeader .date .dateBox .day-of-week { display: block; font-size: 0.8em; font-weight: bold; }
#usersList .users .groupHeader .alpha, #usersList .users .groupHeader .numeric { position: absolute; left: -0.55em; top: -0.45em; font-size: 3em; font-weight: bold; color: #bbbbff; z-index: 0; }
#usersList .users .person { clear: both; min-height: 45px; }
#usersList .users .user { position: relative; z-index: 1; margin-bottom: 1em; border-top: 1px solid #cccccc; }
#usersList .users .user .stats { position: relative; float: right; width: 100px; background-color: #999999; padding: 0; z-index: 2; }
#usersList .users .user .stats .countItems { display: block; color: white; padding: 0.25em; font-weight: normal; text-align: center; text-decoration: none; }
#usersList .users .user .stats .countItems:hover { background-color: #b0d730; }
#usersList .users .user .stats .countTags { display: block; position: relative; color: white; padding: 0.25em; font-size: 0.8em; font-weight: normal; text-align: center; text-decoration: none; }
#usersList .users .user .stats .countTags:hover { background-color: #b0d730; }
#usersList .users .user .stats .countTags .icon { position: absolute; border: none; right: 0; padding: 0 2px; }
#usersList .users .user .data { position: relative; padding: 0.25em 0 0 40px; z-index: 1; }
#usersList .users .user .data .avatar { position: absolute; left: 0; top: 0; width: 32px; height: 32px; }
#usersList .users .user .data .avatar a .img { display: block; position: relative; border: 0; background-color: transparent; }
#usersList .users .user .data .avatar a .img img { width: 32px; height: 32px; }
#usersList .users .user .data .avatar a .img .ui-icon { position: relative; left: 8px; }
#usersList .users .user .data .userId { float: left; padding: 0; font-size: 1.25em; }
#usersList .users .user .data .userId a { display: inline; font-weight: bold; }
#usersList .users .user .data .fullName { float: left; padding: 0.25em; }
#usersList .users .user .data .fullName a { display: inline; font-weight: bold; }
#usersList .users .user .data .email { float: right; padding: 0.25em; border: none; max-width: 526px; *width: 526px; }
#usersList .users .user .data .email a { display: inline; font-weight: normal; }
#usersList .users .user .data .email .icon { position: relative; float: left; }
#usersList .users .user .data .tags { clear: right; display: block; float: right; font-size: 0.9em; padding: 0.5em 0; margin: 0; text-align: right; }
#usersList .users .user .data .tags .tag, #usersList .users .user .data .tags .tag:hover { display: block; float: right; padding: 0.2em; margin: 0.1em; background-color: #eeeeee; color: #172322; }
#usersList .users .user .data .tags .tag a, #usersList .users .user .data .tags .tag a:hover, #usersList .users .user .data .tags .tag a:visited, #usersList .users .user .data .tags .tag a:focus, #usersList .users .user .data .tags .tag:hover a, #usersList .users .user .data .tags .tag:hover a:hover, #usersList .users .user .data .tags .tag:hover a:visited, #usersList .users .user .data .tags .tag:hover a:focus { display: inline; font-weight: normal; text-decoration: none; color: #172322; }
#usersList .users .user .data .tags .tag:hover { background-color: #172322; color: #eeeeee; }
#usersList .users .user .data .tags .tag:hover a, #usersList .users .user .data .tags .tag:hover a:hover, #usersList .users .user .data .tags .tag:hover a:visited, #usersList .users .user .data .tags .tag:hover a:focus { color: #eeeeee; }
#usersList .users .user .data .dates { float: left; font-size: 0.8em; height: 1em; padding: 1em; color: #999999; }
#usersList .users .user .data .dates .lastVisit { display: block; }
#usersList .users .user .data .control { display: inline; font-size: 0.65em; border: 0; padding: 0 0 0 2em; margin: 0; font-weight: normal; white-space: pre; z-index: 3; color: #999999; }
#usersList .users .user .data .control a { display: inline; font-weight: normal; text-decoration: none; padding: 0.1em; }
#usersList .users .user .data .control a:hover { background-color: #0066cc; color: white; text-decoration: none; }
#usersList .users .mine { min-height: 45px; }
#usersList .users .mine .status { display: block; min-height: 45px; }
