@import "sizes";
@import "colors";
@import "mixins";

/****** user.scss ****** */
// Styling for a single User
// Used by users.sass

// Include fieldset.options here so 'form .displayStyle fieldset.options'
// will be rendered similar to users
// (i.e. will visually match the bookmark presentation that it controls)
.users {
  clear: both;
  padding-top: 2em;
  border-bottom: unquote("1px solid") $borderColor;
}

.users {
  .user {
    position: relative;
    z-index:    1;
    border-top: unquote("1px solid") $borderColor;
  }
}

.users, .pane .displayStyle fieldset.options {
  .person {
    clear:          both;
    min-height:     55px;
    margin-bottom:  1em;
  }
  .user {
    position: relative;
    z-index: 1;
    border-top: unquote("1px solid") $borderColor;
    // stats:countItems, countTags
    .stats {
      position: relative;
      float: right;
      width: $countBoxWidth;
      background-color: $controlColor;
      padding: 0;
      z-index: 2;
      .countItems {
        display: block;
        color: $pageColorBackground;
        padding: 0.25em;
        font-weight: normal;
        text-align: center;
        text-decoration: none;
        &:hover {
          background-color: $navColorHover;
        }
      }
      .countTags {
        display: block;
        position: relative;
        color: $borderColor;
        padding: 0.25em 16px 0.25em 0.25em;
        font-size: 0.75em;
        font-weight: normal;
        text-align: right;
        text-decoration: none;
        &:hover {
          background-color: $navColorHover;
          color: $pageColorBackground;
        }
        // tag icon
        .icon {
          position: absolute;
          border: none;
          top: 0.25em;
          right: -2px;
          padding: 0;
        }
      }
    }
    .relation {
      @include inlineBlock();
      font-size:        0.75em;
      text-align:       center;
      padding:          1px;
      width:            34px;

      .connexions_sprites {
        // Per the network relations sprites -- sprites.scss::.relation-*
        text-indent:  34px;
        white-space:  nowrap;
        overflow:     hidden;
      }
    }
    .data {
      position: relative;
      padding: 0.25em 0 0 40px;
      z-index: 1;
      // Avatar
      .avatar {
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        a {
          .img {
            display:  block;
            position: relative;
            border:   0;
            background-color: transparent;

            img {
              width:    32px;
              height:   32px;
            }

            .ui-icon {
              position: relative;
              left:     8px;
              top:      8px;
            }
          }
        }
      }

      // Network relation / control
      .control {
        position:   absolute;
        left:       2px;
        top:        33px;
        font-size:  0.75em;
        text-align: center;
        cursor:     pointer;

        .item-add, .item-delete {
          @include inlineBlock();
          visibility: hidden;
          top:        1px;
          left:       -2px;
          z-index:    10;

          .title {
            display:  none;
          }
        }
        .item-add-none {
          // item-add for a user with whom there is NO relation
          position:   absolute;
          left:       8px;
        }
        .item-add {
          .icon {
            //@extend .control-add-grey;
            width:  16px;
            height: 16px;
            background-position: -84px -62px;
          }
          &:hover {
            .icon {
              //@extend .control-add;
              width:  16px;
              height: 16px;
              background-position: -68px -62px;
            }
          }
        }
        .item-delete {
          .icon {
            //@extend .control-delete-grey;
            width:  16px;
            height: 16px;
            background-position: -84px -94px;
          }
          &:hover {
            .icon {
              //@extend .control-delete;
              width:  16px;
              height: 16px;
              background-position: -68px -94px;
            }
          }
        }

        .item-edit {
          // For 'self' to edit profile
          display:    block;
          font-size:  0.9em;
        }

        &:hover {
          .item-add, .item-delete {
            visibility: visible;
          }
        }
      }

      // UserId
      .userId {
        @include inlineBlock();
        padding: 0;
        font-size: 1.25em;
        width: 6em;
        a {
          display: inline;
          font-weight: bold;
        }
      }
      // FullName
      .fullName {
        @include inlineBlock();
        padding: 0.25em;
        a {
          display: inline;
          font-weight: bold;
        }
      }
      // Email
      .email {
        float: right;
        padding: 0.25em;
        border: none;
        a {
          display: inline;
          font-weight: normal;
        }
        .icon {
          @include inlineBlock();
          position: relative;
        }
      }
      // List of tags for this item
      .tags {
        clear:    both;
        display:  block;
      }
      // Dates (lastVisit)
      .dates {
        clear:      both;
        font-size:  0.8em;
        height:     1em;
        padding:    0 0 0 2em;
        color:      $controlColor;
        .lastVisit {
          display: block;
        }
      }
    }
  }
  // Item (mine)
  .mine {
    min-height: 45px;
    .status {
      display: block;
      min-height: 45px;
    }
  }
}


.rightCol {
  // For the People sidebar when presenting bookmarks for a single user
  .single-user {
    border: none;

    .cloudRelation {
      display:  none;
    }

    .users {
      border:   none;
      padding:  0;

      .person {
        .stats {
          width:        50px;
        }
        .data {
          padding-left: 55px;

          .avatar {
            width:      50px;
            height:     50px;
            border:     unquote("1px solid") $lightGrey;
            img {
                width:  48px;
                height: 48px;
            }
          }
          .control {
            top:        50px;
            left:       0px;
            width:      50px;

            .item-add-none {
              position: relative;
              left:     auto;
            }
          }
        }
      }
    }
  }
}
