@import "sizes";
@import "colors";
@import "mixins";
@import "uiStars";

/****** post.sass ****** */
// Styling for bookmark post form
.line {
  padding: 1em;
}

.ui-validation-form {
  padding: 0 0 0 0.5em;
  float: left;
  width: auto;
  background-color: $pageColorBackground;
  border: unquote("2px solid") $borderColor;
  @include corners(10px);
  .legend {
    text-align: right;
    padding-right: 2em;
    h1 {
      padding:      0;
      color:        $navColorSelected;
      font-size:    1.25em;
      font-weight:  bold;
    }
    p {
      padding: 0;
      color: $fieldInfoColor;
    }
  }
  .userInput {
    position: relative;
    padding:  1em;
    z-index:  1;
    //background-color: #eef
    @include corners(10px);
    .item-status {
      padding:  0 0.5em 0 0;
    }
    .item-data {
      //width:    30em + 96px;
      //width:    38em;
      .item-name {
        padding-bottom: 0;
        input {
          width:        22em;
        }
        .ui-field-info {
          width:  (22em - 1em) * 1.135;
        }
      }
      .item-url {
        padding-bottom: 0;
        margin-left:    1em;
        .text {
          width:  29em;
        }
        .ui-field-info {
          width:  (29em - 1em) * 1.135;
        }
      }
    }
    .field {
      padding-bottom: 1em;
      label {
        color: $fieldInfoColor;
      }
      .text {
        width: 30em;
      }
      .ui-field-info {
        width:        (30em - 1.25em) * 1.135;
        height:       1.25em;
        font-size:    0.9em;
        padding-left: 1.25em;
        @include opacity(50);
        .ui-field-status {
          float:      left;
        }
        .ui-field-requirements {
          float:      right;
          color:      $fieldInfoColor;
          text-align: right;
        }
      }
    }
    .click-to-edit {
      label {
        display: none;
      }
      input {
        border-color: transparent;
        color: $validationInputColor;
        background-color: $pageColorBackground;
        background-image: none;
      }
      input:focus {
        border-color: $validationFocusBorderColor;
        color: $validationFocusColor;
      }
      .ui-field-info {
        visibility: hidden;
      }
      &:hover {
        .ui-field-info {
          visibility: visible;
        }
      }
    }
    .userRating {
      position: absolute;
      z-index:  2;
      right:    0;
      display:  block;
      padding:  0;
      // Accomadate a wrapped label
      height:   32px;
      width:    96px;
      //width: 160px;
      label {
        display: none;
        //display: block;
        //float: right;
        //padding: 2px 0 0 0.25em;
        //width: 2em;
        //color: $linkColor;
      }
    }
    .favorite,.private {
      padding-bottom: 0.2em;
      input {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
      }
      // checkbox styling
      .checkbox {
        position: relative;
        display: inline;
        cursor: pointer;
        border: none;
        .ui-stars-wrapper {
          float: left;
        }
      }
    }
    .buttons {
      position:     relative;
      text-align:   right;
      width:        100%;
      padding-left: 2em;
      padding-top:  1em;
      clear:        both;
      input, label, button {
        position: relative;
        display: inline;
        cursor: pointer;
      }
    }
    .formError {
      padding: 0;
      font-weight: bold;
      text-align: left;
      color: $errorColor;
    }
  }
}
