.ui-stars-wrapper { display: block; width: 96px; overflow: hidden; }
.ui-stars-wrapper input.ui-stars-rating { width: 0; height: 0; padding: 0; margin: 0; }
.ui-stars-wrapper .ui-stars { display: block; float: left; overflow: hidden; text-indent: 999em; }
.ui-stars-wrapper .ui-stars a { background-image: url("sprites/connexions.gif"); background-attachment: scroll; background-repeat: no-repeat; background-color: transparent; display: block; }
.ui-stars-wrapper .ui-stars-star { cursor: pointer; }
.ui-stars-wrapper .ui-stars-star a { cursor: pointer; }
.ui-stars-wrapper .ui-stars-cancel { padding: 1px; }
.ui-stars-wrapper .ui-stars-cancel-disabled a { background-image: none; }
.ui-stars-wrapper .ui-stars-star-disabled, .ui-stars-wrapper .ui-stars-cancel-disabled { cursor: default; }

.ui-validation-form { padding: 0 0 0 0.5em; float: left; width: auto; background-color: white; border: 2px solid #cccccc; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -ms-border-radius: 10px 10px 10px 10px; -khtml-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; }
.ui-validation-form .legend { text-align: right; padding-right: 2em; }
.ui-validation-form .legend h1 { padding: 0; color: #b0d730; font-size: 1.25em; font-weight: bold; }
.ui-validation-form .legend p { padding: 0; color: #999999; }
.ui-validation-form .userInput { position: relative; padding: 1em; z-index: 1; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -ms-border-radius: 10px 10px 10px 10px; -khtml-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; }
.ui-validation-form .userInput .field { padding-bottom: 0.25em; }
.ui-validation-form .userInput .field label { color: #999999; }
.ui-validation-form .userInput .field .ui-field-info { height: 1.25em; font-size: 0.9em; padding-left: 1.25em; opacity: 0.75; filter: alpha(opacity=75); -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)'; -khtml-opacity: 0.75; -moz-opacity: 0.75; }
.ui-validation-form .userInput .field .ui-field-info .ui-field-status { float: left; }
.ui-validation-form .userInput .field .ui-field-info .ui-field-requirements { float: right; color: #999999; text-align: right; }
.ui-validation-form .userInput .click-to-edit label { display: none; }
.ui-validation-form .userInput .click-to-edit input { color: #aaaaaa; border-color: white; /* transparent */ background-color: white; background-image: none; }
.ui-validation-form .userInput .click-to-edit input:focus { color: #555555; border-color: #aaaaaa; }
.ui-validation-form .userInput .click-to-edit .ui-field-info { visibility: hidden; }
.ui-validation-form .userInput .click-to-edit:hover .ui-field-info { visibility: visible; }
.ui-validation-form .userInput .buttons { position: relative; text-align: right; width: 100%; padding: 1em 0 1em 1em; clear: both; }
.ui-validation-form .userInput .buttons input, .ui-validation-form .userInput .buttons label, .ui-validation-form .userInput .buttons button { position: relative; display: inline; cursor: pointer; }
.ui-validation-form .userInput .formError { padding: 0; font-weight: bold; text-align: left; color: #cd0a0a; }
