SetEnv APPLICATION_ENV development

RewriteEngine On
RewriteBase   /connexions
# Now, handle any files or directories that actually exist
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Map original connexions urls to new locations
RewriteRule ^details/(.*)$                 url/$1 [NC,QSA,R,L]
RewriteRule ^watchlist/(.*)$               network/@self/$1 [NC,QSA,R,L]
RewriteRule ^home/(.*)$                    @self/$1 [NC,QSA,R,L]
RewriteRule ^for/(.*)$                     inbox/@self/$1 [NC,QSA,R,L]
RewriteRule ^tag/(.*)$                     bookmarks/$1 [NC,QSA,R,L]
RewriteRule ^settings/general              settings/account [NC,QSA,R,L]
RewriteRule ^settings/bookmarks/apikey     settings/account/apikey [NC,QSA,R,L]
RewriteRule ^settings/tags/(rename|delete) settings/tags/manage [NC,QSA,R,L]
RewriteRule ^settings/people/privacy       settings/people/network [NC,QSA,R,L]

# Finally, map everything else to index.php
RewriteRule ^.*$ index.php [NC,L]
