$pageColorBackground: #fff;

$linkColor:           #06c;
$linkColorVisited:    #005a9c;
$controlColor:        #999;
$borderColor:         #ccc;

// From css/themes/base/jquery-ui.css : .ui-state-error
$errorColor:                  #cd0a0a;
$successColor:                #667e32;
$confirmColor:                $errorColor;

$navColorBackground:          #172322;
$navColorWelcomeBackground:   #142940;
$navColorJoinBackground:      #9fc54e;
$navColor:                    #fff;
$navColorHover:               #b0d730;
$navColorSelected:            #b0d730;
$navColorSub:                 #2786c2;
$navColorSubHover:            #7fcdfe;
$navColorBorder:              #666;

$groupHeaderColorBackground:  #eef;
$groupHeaderColor:            $controlColor;
$groupHeaderYearColor:        $groupHeaderColorBackground - #111100;
$groupHeaderAlphaColor:       $groupHeaderColorBackground - #333300;

$privateColorBackground:  #fee;
$privateColorBorder:      #f33;

$tagsHeaderColorBackground:       $borderColor;
$tagsHeaderActiveColorBackground: #7c7c7c;

$tagColorBackground:  #eee;
$tagColor:            $navColorBackground;

$highlightTopColorBackground: #f3f3ff;
$highlightTopHeaderColor:     $navColorBackground;
$highlightTopTagColor:        $navColorSub;
$highlightTopTagCountColor:   $controlColor;

//!fieldInfoColor             = !validationInputColor
$fieldInfoColor:      $controlColor;
$fieldTextColor:      #555;
$formBackgroundColor: #86c9ef;

$validationInputColor:        #aaa;
$validationFocusColor:        $fieldTextColor;
$validationFocusBorderColor:  $validationInputColor;
$validationValidColor:        $successColor;

$columnHeaderBorderColor: #eee;

$contextColorBackground:  #3d7cc2;

$li_oddColor:   $highlightTopColorBackground;
$li_evenColor:  none;
