@import "sizes";
@import "colors";
@import "mixins";

$displaySortOffset: 5px;

/****** users.scss ****** */
// Styling for users
.items {
  .groupHeader {
    // Left portion of group header, shifted left 15px
    // (with .group, provides a solid header the full width)
    position: relative;
    background-color: $groupHeaderColorBackground;
    border-bottom: unquote("1px solid") $borderColor;
    color: $groupHeaderColor;
    height: 20px;
    left: -15px;
    .group {
      // Right portion of group header, shifted right 20px (5px over)
      // (with .groupHeader, provides a solid header the full width)
      position: relative;
      background-color: $groupHeaderColorBackground;
      height: 20px;
      right: -20px;
    }
    .date {
      position: relative;
      left: -12px;
      .year {
        position: absolute;
        left: 1em;
        top: -0.45em;
        font-size: 3em;
        font-weight: bold;
        color: $groupHeaderYearColor;
        // Raise it above item, which has a top-border
        z-index: 4;
        //+rotate(-90deg)
      }
      .dateBox {
        position: relative;
        left: -0.25em;
        font-size: 1em;
        font-weight: bold;
        .month {
          display: inline;
        }
        .day {
          display: inline;
          padding: 0 0.25em;
        }
        .day-of-week {
          display: block;
          position: absolute;
          font-size: 0.8em;
          font-weight: bold;
          // Raise it above .status, which MAY have an opaque background
          z-index: 4;
        }
      }
    }
    .alpha,.numeric {
      position: absolute;
      left: -0.55em;
      top: -0.45em;
      font-size: 3em;
      font-weight: bold;
      color: $groupHeaderAlphaColor;
      z-index: 0;
    }
  }
}
