$itemCountWidth: $countBoxWidth + 10px;

/* ****** itemScope.scss ****** */
.itemScope {
  clear:  both;
  a {
    color: $navColor;
  }
  ul {
    // Mirros css/themes/connexions/jquery-ui.css::.ui-widget_header
    background: #c2c2c2 url(themes/connexions/images/ui-bg_gloss-wave_90_c2c2c2_500x100.png) 50% 50% repeat-x;
    //background-color: $borderColor;

    padding: 0;
    padding-right: $itemCountWidth + 2px;
    li {
      background-color: transparent;
      float: left;
      border-right: unquote("1px dotted") $borderColor;
      //-moz-border-radius-bottomright:     1em
      //-moz-border-radius-topright:        1em
      //-webkit-border-bottom-right-radius: 1em
      //-webkit-border-top-right-radius:    1em
      //border-bottom-right-radius:         1em
      //border-top-right-radius:            1em
      a,input {
        display: block;
        float: left;
        font-weight: normal;
      }
      a {
        padding: 0.25em;
      }
    }
  }
  .scopeEntry {
    border:   none;
    padding:  0.2em 0.1em 0.2em 0.25em;
    width:    22em;
    // Normal ui.input
    input {
      @include inlineBlock();
      vertical-align: middle;
      margin:         0;
      padding:        0.1em;
      width:          20em;
    }
    button {
      @include inlineBlock();
      vertical-align:   middle;
      border:           0;

      color:            $navColor;
      background:       none;
      margin:           0;
      padding:          0 0.1em;
      cursor:           pointer;
      font-weight:      bold;
    }
    // jquery.autosuggest
    ul.as-selections {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      border: none;
      padding: 0.1em;
      margin: 0;
      li {
        border: none;
        margin: 0;
        padding: 0;
      }
      li.as-original {
        margin: 0;
        input.as-input {
          font-size: 1em;
          height: 1.25em;
          margin: 0;
          //padding:    0.1em
          padding: 0;
          width: 9em;
        }
        input.as-values {
          display: none;
        }
      }
      li.as-selection-item {
        font-size: 0.9;
        font-family: inherit;
        padding: 0 0.25em 0.1em 0.5em;
        background-color: $tagColorBackground;
        color: $tagColor;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        text-shadow: none;
        margin-right: 0.1em;
        @include corners(0.5em, 0.5em, 0.5em, 0.5em);
        a.as-close {
          font-family: inherit;
          font-size: 1em;
          text-shadow: none;
        }
      }
      li.selected {
        color: $tagColorBackground;
        //background-color =  !linkColor
        background-color: $tagColor;
      }
    }
    .as-results {
      display: block;
      .as-list {
        font-size: 1em;
        z-index: 5;
        .as-result-item {
          text-shadow: none;
          background-image: none;
          margin: 0.25em;
          padding: 0.25em;
          border: unquote("1px solid") $borderColor;
          float: none;
          .as-message {
            padding: 0.25em;
          }
        }
        .active {
          color: $pageColorBackground;
          background-color: $linkColor;
          em {
            background-color: $tagColor;
          }
        }
      }
    }

    // ui.tagInput styling
    .tagInput {
      label {
        top:  0.2em;
        left: 0.2em;
      }

      .tagList {
        @include inlineBlock();
        font-size:  0.85em;
        padding:    0 0.1em;

        .tag {
          margin:   0 0.1em;
          padding:  0 0 0 0.2em;

          .delete {
            float:  none;
          }
        }

        .activeInput {
          padding:  0 0.1em;
          top:      0.2em;
        }
      }
    }
  }
  .root, .section {
    background-color: $linkColor;
    padding:          0 0.2em 0 0;
    border:           unquote("1px solid") $linkColor;
    z-index:          10;
  }
  .section {
    margin-left:      1px;
  }
  .scopeItem {
    padding-left:     0.6em;
    margin-left:      -0.5em;
    @include corners(0, 1em, 1em, 0);
    border:           unquote("1px dotted") $borderColor;
    z-index:          2;

    background-color: $controlColor;
  }
  .deletable {
    a.delete {
      display:          block;
      padding:          0;
      margin:           0.25em;
      text-indent:      999em;
      text-decoration:  none;
    }
  }
  .itemCount {
    position:         absolute;
    right:            0;
    background-color: $controlColor;
    border:           unquote("1px solid") $controlColor;
    color:            $navColor;
    padding:            0.25em;
    float:            none;
    width:            $itemCountWidth;
    text-align:       center;
    font-weight:      bold;
  }
}
