@import 'libraries.css';
@import 'template.css';
@import 'grids.css';
@import 'content.css';
@import 'sprites.css';

a, a:link, a:visited, a:focus, a:hover {
  color:      #06c;
}

/* Page Header */
#pageHeader {
  height:         5em;
}
#pageHeader h1#siteName {
  float:        left;
  color:        #000;
  font-weight:  bold;
  font-size:    26px;
  padding-top:  5px;
}
#pageHeader h1#siteName span {
  display:      block;
  float:        left;
}
#pageHeader h1#siteName img {
  float:        left;
  position:     relative;
  height:       34px;
  top:          1px;
  left:         -4px;
  margin-right: -10px;
}

/* Tabs / Navigation */
#pageHeader .tabs {
  float:      right;
}
#pageHeader .tabs a {
  padding:          2px;
  color:            #fff;
  font-weight:      normal;
  text-decoration:  none;
}
#pageHeader .tabs li.active a,
#pageHeader .tabs a:hover {
  color:            #b0d730;
}
#pageHeader .tabs {
  background-color: #172322;
  padding:      0;
}

#pageHeader .nav {
  float:        left;
  padding:      0;
}
#pageHeader .nav li {
  float:        left;
  width:        60px;
  text-align:   center;
  padding:      24px 18px;
}
#pageHeader .tabs li.welcome {
  width:        100px;
  height:       auto;
  padding:      16px 8px;

  border-right: 1px dotted #666;
}
#pageHeader .tabs li.join {
  width:            100px;
  height:           auto;
  padding:      	  24px 8px;

  border-right:     1px dotted #666;
  background-color: #9FC54E;
}
#pageHeader .tabs li.join a {
  color:            #fff;
}
#pageHeader .tabs li.join a:hover {
  color:            #2786C2;
}

/* Sub-menu */
#pageHeader ul.sub {
  display:          none;
  position:         absolute;
  top:              64px;
  left:             2px;

  color:            #fff;
  padding:          0;
  margin:           0;

  z-index:          100;
}

#pageHeader li:hover ul.sub {
  display:          block;
}

#pageHeader ul.sub li,
#search ul.sub li {
  background-color: #172322;      /* Match #pageHeader .tabs */
  width:            90px;
  padding:          0 16px;
}
#pageHeader ul.sub li.last a,
#search ul.sub li.last span {
  padding-bottom:   0;
}
#pageHeader ul.sub li a:hover,
#search ul.sub li:hover span {
  color:            #7fcdfe;
}

#pageHeader ul.sub li.outter,
#search ul.sub li.outter {
  background: none repeat scroll 0 0 transparent;
}


#pageHeader ul.sub .corner_inner_left,
#search ul.sub .corner_inner_left {
  position:         absolute;
  top:              0;
  left:             -12px;
}
#pageHeader ul.sub .corner_inner_right,
#search ul.sub .corner_inner_right {
  position:         absolute;
  top:              0;
  right:            -12px;
}

#pageHeader ul.sub .corner_outter_left,
#search ul.sub .corner_outter_left {
  position:         absolute;
  top:              0;
  left:             0;
}
#pageHeader ul.sub .corner_outter_middle,
#search ul.sub .corner_outter_middle {
  background-color: #172322;      /* Match #pageHeader .tabs */
}
#pageHeader ul.sub .corner_outter_right,
#search ul.sub .corner_outter_right {
  position:         absolute;
  top:              0;
  right:            0;
}

#pageHeader ul.sub li {
  float:            none;
  margin:           0;
  cursor:           pointer;

  text-align:       left;
}

#pageHeader ul.sub li a,
#search ul.sub li span {
  display:          block;
  padding:          0.5em 0;
  color:            #2786C2;
  font-weight:      normal;

  border-top:       1px dotted #666;
}
#pageHeader ul.sub li.first a,
#search ul.sub li.first span {
  padding-top:      8px;
  border-top:       0;
}
#pageHeader ul.sub li.last a,
#search ul.sub li.last span {
  padding-bottom:   0;
}

/* Search */
#search {
  float:      right;
  padding:    22px 18px 19px;
}
#search .searchBox {
  float:            right;
  background-color: #fff;
}

/* Search Context choices */
#search .choices {
}
#search .choices .list {
  top:              40px;
  left:             -30px;
}
#search .choices .list li {
  width:            11.5em;       /* Match #search .searchInput */
}
#search ul.sub li.on span {
  /* .smallIcon_dotWhite
  background-image:     url('sprites/smallIcons.gif');
  background-position:  5px -1213px;
  background-repeat:    no-repeat;
  */
  color:                #E53D2C;
}
#search .choices .list li.on:hover span {
  /* .smallIcon_dotGrey
  background-position:  5px -1193px;
  */
  color:                #E53D2C;
}

#search:hover .list {
  display:          block;
}

#search .searchInput {
  border:       0;
  color:        #999;
  float:        left;
  padding:      2px;
}
#search .input {
  border:       none;
  color:        #aaa;
  height:       15px;
  margin:       1px 0;
  padding:      0 0 0 2px;
  width:        11.2em;
  z-index:      100;
}
#search input.focus {
  color:      #000;
}
#search .submit {
  float:            right;
  display:          block;
  padding:          0;

  height:           23px;
  width:            23px;

  border:           0;

  cursor:           pointer;

  background-color: transparent;
}

/* Page Content */
#pageContent {
  padding:          1em;
}

/* Page Footer */
#pageFooter {
  clear:            both;
  margin-top:       1em;
  border-top:       1px solid #ddd;
  padding:          0.5em;
}
