@import 'libraries.css';
@import 'template.css';
@import 'grids.css';
@import 'content.css';
@import 'sprites.css';
@import 'tabs.css';
@import 'themes/default/jquery-ui.css';
@import 'ui-form.css';
@import 'tagCloud.css';

a, a:link, a:visited, a:focus, a:hover {
  color:      #06c;
  outline:    0 none;
}
a:active {
  outline:    0 none;
  position:   relative;
  top:        1px;
}

/* Page Header */
#pageHeader {
  height:       5em;
  z-index:      100;
}
#pageHeader h1#siteName {
  position:     absolute;
  top:          0;
  left:         0;

  color:        #000;
  font-weight:  bold;
  font-size:    26px;
  padding-top:  5px;

  height:       45px;
  width:        200px;
}
#pageHeader h1#siteName span {
  display:      block;
  float:        left;
}
#pageHeader h1#siteName img {
  position:     relative;
  float:        left;
  height:       34px;
  top:          5px;
  left:         -4px;
  margin-right: -10px;
}

/* Sub-menu */
#pageHeader ul.sub {
  display:          none;
  position:         absolute;
  top:              64px;
  left:             2px;

  color:            #fff;
  padding:          0;
  margin:           0;
}
#pageHeader li:hover ul.sub {
  display:          block;
}

#pageHeader ul.sub li,
#search ul.sub li {
  background-color: #172322;      /* Match #pageHeader .tabs */
  width:            120px;
  padding:          0 16px;

  float:            left;       /* IE requires this to render without
                                 * white-space between items
                                 */
  margin:           0;
  cursor:           pointer;

  text-align:       left;

  /* IE Fix */
  *width:           90px;
}
#pageHeader ul.sub li.last a,
#search ul.sub li.last a,
#search ul.sub li.last span {
  padding-bottom:   0;
}
#pageHeader ul.sub li a:hover,
#search ul.sub li a:hover,
#search ul.sub li:hover span {
  color:            #7fcdfe;
}

#pageHeader ul.sub li.outter,
#search ul.sub li.outter {
  background: none repeat scroll 0 0 transparent;
}


#pageHeader ul.sub .corner_inner_left,
#search ul.sub .corner_inner_left {
  position:         absolute;
  top:              0;
  left:             -12px;
}
#pageHeader ul.sub .corner_inner_right,
#search ul.sub .corner_inner_right {
  position:         absolute;
  top:              0;
  right:            -12px;
}

#pageHeader ul.sub .corner_outter_left,
#search ul.sub .corner_outter_left {
  position:         absolute;
  top:              0;
  left:             0;
}
#pageHeader ul.sub .corner_outter_middle,
#search ul.sub .corner_outter_middle {
  background-color: #172322;      /* Match #pageHeader .tabs */
}
#pageHeader ul.sub .corner_outter_right,
#search ul.sub .corner_outter_right {
  position:         absolute;
  top:              0;
  right:            0;
}

#pageHeader ul.sub li {
}

#pageHeader .nav ul.sub li a,
#search .choices ul.sub li a,
#search .choices ul.sub li span {
  display:          block;
  padding:          0.5em 0;
  color:            #2786C2;
  font-weight:      normal;

  border-top:       1px dotted #666;
}
/* If only IE6 suppported the child selector, we could
 * change
 *    '#pageHeader .tabs li.active a'
 *    '#pageHeader .tabs li.active>a'
 *
 * and completely omit these next rules {
 */
#pageHeader .nav ul.sub li.active a,
#search .choices ul.sub li.active a,
#search .choices ul.sub li.active span {
  color:            #b0d730;
}
#pageHeader .nav ul.sub li a:hover,
#search .choices ul.sub li a:hover,
#search .choices ul.sub li:hover span {
  color:            #7fcdfe;
}
/* } **************************************************/


#pageHeader ul.sub li.first a,
#search ul.sub li.first a,
#search ul.sub li.first span {
  padding-top:      8px;
  border-top:       0;
}
#pageHeader ul.sub li.last a,
#search ul.sub li.last a,
#search ul.sub li.last span {
  padding-bottom:   0;
}

/* Search Input / Choices */
#search .searchInput {
  border:       0;
  color:        #999;
  padding:      2px;
}
#search .input {
  border:       none;
  /*color:        #aaa;*/
  height:       22px;
  margin:       1px 0;
  padding:      0 22px 0 2px;
  width:        145px;
  font-weight:  normal;
}
#search input.focus {
  color:      #000;
}
#search .submit {
  display:          block;
  position:         absolute;
  top:              7px;
  left:             150px;    /* search_bg == 173px, the magnifier is 23px */

  width:            23px;     /* Increase to push border to the left */

  padding:          0;

  border:           0;
  border-left:      1px dotted #999;
  background-color: transparent;

  cursor:           pointer;

  z-index:          101;

  /* IE fix -- IE doesn't like 'transparent' as a color; it uses a dark grey */
  *background-color:#fff;
}

/* Search Context choices */
#search .choices {
}
#search .choices .list {
  top:              44px;
  left:             -30px;
}
#search .choices .list li {
  width:            180px;

  /* IE Fix */
  *width:           150px;
}

#search:hover .list {
  display:          block;
}


/* Page Content */
#pageContent {
  padding:          1em;
  z-index:          10;
}

/* Page Footer */
#pageFooter {
  clear:            both;
  margin-top:       1em;
  border-top:       1px solid #ddd;
  padding:          0.5em;
  z-index:          1;
}
