/******* papgination.sass *******/
div.pagination 
  clear:      both
  padding:    1em
  .pager 
    display:  inline
    //float:              left
    .ui-state-default
      font-weight:  normal
    button
      cursor:           pointer
    //button, .current, .disabled, .skip 
    button, .skip 
      position:         relative
      padding:          0.1em 0.2em
      margin:           0 0.1em
      text-decoration:  none
    .skip 
      top:              -0.25em
    .ends-left, .ends-right
      border:         none
      background:     transparent
  .info 
    float:            right
    font-size:        0.85em
    text-align:       right
    width:            11.5em
    color =           !controlColor
    div 
      clear:            both
    .label, .count 
      display:          block
    .itemRange 
      padding:          0.2em 0
      .label
        float:            left
      .count 
        float:            right
    .perPage
      .label
        padding-top:    0.3em
        float:            right
      .count 
        float:            left
        width:            4.75em
