/******* papgination.sass *******/

div.pagination 
  clear:      both
  padding:    1em
  .pager 
    float:              left
    a, .current, .disabled, .skip 
      position:         relative
      padding:          0.1em 0.2em
      margin:           0 0.1em
      text-decoration:  none
    .skip 
      top:              -0.25em
  .info 
    float:            right
    font-size:        0.85em
    text-align:       right
    width:            11.5em
    color =           !controlColor
    div 
      clear:            both
    .label, .count 
      display:          block
    .itemRange 
      padding:          0.2em 0
      .label
        float:            left
      .count 
        float:            right
    .perPage
      .label
        padding-top:    0.3em
        float:            right
      .count 
        float:            left
        width:            4.75em
