/******* papgination.sass *******/
.pagination 
  clear:      both
  padding:    1em
  text-align: center
  .pager 
    display:    block
    text-align: center
    .ui-state-default
      font-weight:  normal
    button
      cursor:           pointer
    button, .skip 
      position:         relative
      padding:          0.1em 0.2em
      margin:           0 0.1em
      text-decoration:  none
    .skip 
      top:              -0.25em
    .ends-left, .ends-right
      border:         none
      background:     transparent
  .info 
    display:          block
    text-align:       center
    font-size:        0.85em
    color =           !controlColor
    padding-top:      1em
    .count 
      display:          inline
    .perPage, .itemRange
      padding-top:      0.3em
      .itemCount, .pageCount, .count, .itemRange
        display:        inline
        margin:         0 0.5em
        font-size:      1em
      .itemCount
        font-size:      1.2em
        font-weight:    bold
      .pageCount
        font-size:      1.1em
    .itemRange
      .count
        margin-right:   0
