#post {
  padding:          2em 3em;
  background-color: #fff;

  -moz-border-radius:     10px;
  -webkit-border-radius:  10px;
  border-radius:          10px;
}

#post .legend {
  text-align:     right;
  padding-right:  2em;
  width:          10em;
}
#post .legend h1 {
  padding:  0;
}
#post .legend p {
  padding:  0;
}

#post .userInput {
}

#post .field {
  padding-bottom: 1em;
}
#post .field .text {
  width:        30em;
}
#post .field .ui-field-status {
  position: absolute;
  top:      1.2em;
  right:    -18em;
  width:    16em;
}

#post .click-to-edit label {
  display:  none;
}
#post .click-to-edit input {
  border-color: transparent;
  color:        #aaa;
}
#post .click-to-edit input:focus {
  border-color: #aaa;
  color:        #000;
}

#post .buttons {
  position:     relative;
  text-align:   right;
}
#post .buttons input,
#post .buttons label {
  position: relative;
  display:  inline;
}

#post .personalize {
  width:    100%;
}
#post .personalize .field {
  display:  block;
  float:    left;
  padding:  0 0.5em 0 0;
}
#post .personalize .field label {
  display:  block;
  float:    left;
}
#post .personalize .userRating {
  display:  block;
  float:    left;
  padding:  0 2.5em 0 0;
  height:   32px;         /* Accomadate a wrapped label */
}
#post .personalize .userRating label {
  display:  block;
  float:    right;
  padding:  2px 0 0 0.25em;
  width:    2em;
  color:    #33f;
}

#post .formError {
  padding:      1em 0;
  font-weight:  bold;
  text-align:   center;
}

/* checkbox styling */
#post .personalize .checkbox {
  position: relative;
  display:  inline;
  cursor:   pointer;
  border:   none;
}

/* star rating styling */
.stars-wrapper {
  display:    inline;
  height:     18px;
  width:      96px;
}
.stars-wrapper div {
  display:    block;
  float:      left;
  cursor:     pointer;
  overflow:   hidden;   /* So we can hide the <a> text */
}
.stars-wrapper a {
  display:    block;
  width:      200%;
  height:     100%;
  text-align: right;
}
.stars-wrapper div.star-rating-readonly {
  cursor:     default;
}

