@import "sizes";
@import "colors";
@import "mixins";
@import "urls";

/****** settings.sass ****** */
// Styling for the search results
.settings {
  margin-right:  1em;

  .ui-tabs-panel ul {
    padding:  0;

    .collapsable .content {
      padding:  0.5em;
    }
  }

  #tabs-left {
    position:     relative;
    padding-left: 6.5em;
  }
  #tabs-left .ui-tabs-nav {
    position: absolute;
    left:     0.25em;
    top:      0.25em;
    bottom:   0.25em;
    width:    6em;
    padding:  0.2em 0 0.2em 0.2em;
  }
  #tabs-left .ui-tabs-nav li {
    right:                1px;
    width:                100%;
    border-right:         none;
    border-bottom-width:  1px !important;
    overflow:             hidden;
    @include corners(4px, 0px, 0px 4px);
  }
  #tabs-left .ui-tabs-nav li.ui-tabs-selected {
    border-right:         1px solid transparent;
  }
  #tabs-left .ui-tabs-nav li a {
    float:      right;
    width:      100%;
    text-align: right;
  }
  #tabs-left > div {
    height:     35em;
  }
}

.account {
  .ui-validation-form {
    border-color:   $pageColorBackground;
    .legend {
      font-size:    0.8em;
      text-align:   center;

      .avatar {
        width:    48px;
        cursor:   pointer;
        img {
          width:  inherit;
        }
      }
      .user-date {
        font-size:  0.9em;
      }
    }

    .userInput {
      padding-top:      0;
      width:            30em;
      label {
        @include inlineBlock();
        position:       relative;
        // 5.75em is roughly 19% using .userInput font-size
        width:          5.75em;
        padding:        0 0 1em;
        vertical-align: middle;
      }
      .field {
        .text {
          // Use % for width since the different field types have different
          // font-size settings.  80% is 24em using .userInput font-size
          width:          80%;
          color:          $darkest;
          vertical-align: middle;
        }
        .ui-field-info {
          //                         vv '.userInput label width'
          padding:        0 0.75em 0 5.75em;
        }
      }
      .user-fullName {
        padding-top:    0;
        padding-left:   0;
        padding-right:  0;

        input {
          font-size:      1.2em;
          font-weight:    bold;
        }
      }
      .user-email {
      }
      .user-profile {
      }
    }
  }

  .account-credentials {
    .ui-validation-form {
      float:  none;
      width:  55em;
    }
    li {
      padding:  0 0 0.25em 0;
    }
    .type {
      // From sprites.scss
      background:       $connexions_sprites_url unquote("no-repeat scroll 0px 0px transparent");
      background-image: $connexions_sprites_url unquote("!important");
      width:            16px;
      height:           16px;
      overflow:         hidden;
      text-indent:      -9999px;
    }
    .type, .name, .credential, .control {
      @include inlineBlock();
    }

    .pki .type {
      background-position:  -120px 0;
    }
    .openid .type {
      background-position:  -136px 0;
    }
    .password .type {
      background-position:  -152px 0;
    }

    .name {
      input {
        // width:  8em;
      }
    }
    .credential {
      width:    35em;
      input {
        font-size:  0.9em;
        width:      99%;
      }
    }
    .control {
      color:          $controlColor;
      a {
        font-size:    0.9em;
        font-weight:  normal;
        color:        $controlColor;
      }

      .confirm {
        position:         absolute;
        top:              -0.75em;
        white-space:      pre;
        width:            auto;

        text-align:       center;

        color:            $confirmColor;
        background-color: $pageColorBackground;
        font-size:        0.8em;

        button {
          width:      3em;
          padding:    0.1em;
        }
      }
    }

    .buttons {
      padding:  0.25em 5.5em 1em 24px;

      button {
        float:    right;
      }
    }
  }

  .account-apikey {
    .legend {
      padding-top:  0.25em;
    }
    .data {
      padding-left: 0.5em;
      width:        10em;
      text-align:   center;
    }
    h3.apiKey  {
      padding:      0;
      font-size:    1.5em;
      font-weight:  bold;
    }
  }
}
