/****** tabs.scss ****** */
/* Alternative Tab styling using no background image but rather border-radius.
 * Requires a change to application/configs/navigation.xml
 * to remove 'connexions_sprites welcome_bg' from the 'class' of <userInfo>
 *       and 'connexions_sprites join_bg'    from the 'class' of <register>
 *
 * This will show square tabs in browsers that don't support border-radius
 * and likely won't work at all in IE6. */

@import "colors";
@import "sizes";

$navBorder: unquote("1px dotted") $navColorBorder;

/* Tabs / Navigation */
#pageHeader {
  border-top: unquote("0.25em solid") $navColorBackground;
  // Outer curve connecting the tabs with the top border
  .tabs_outer_curve {
    position: absolute;
    right:    $tabWidth;
  }
  // Top navigation tabs
  .tabs {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: $tabWidth;
    //height =  !tabHeight
    padding: 0;
    background-color: transparent;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: $navWidth;
    *width: $navWidth + 1;

    // Use 24px here (4px more than li.welcome/join) so the ul background is
    // fully hidden behind any background used for li.welcome/join
    @include corners(0, 0, 0, 24px);

    background: $navColorBackground unquote("url(themes/connexions/images/ui-bg_gloss-wave_10_172322_500x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/");

    li {
      float:            left;
      width:            $navWidthItem;
      text-align:       center;
      padding:          $navPadSubItem_tb unquote("0");
      //background-color: $navColorBackground;
      height:           $tabHeight;
    }

    a {
      padding: 2px;
      color: $navColor;
      font-weight: normal;
      text-decoration: none;
    }
    li.active a, li:hover, a:hover {
      color: $navColorHover;
    }

    // Welcome / Join -- first tab item
    li.welcome, li.join {
      width:          $navWidthFirst;
      border-right:   $navBorder;
      padding-left:   10px;
      padding-right:  20px;

      @include corners(0, 0, 0, 20px);
    }

    li.welcome {
      //background-color =    !navColorWelcomeBackground
      background-color:       $navColorWelcomeBackground;
      border-left:            unquote("2px solid") $navColorBackground;
      border-bottom:          unquote("2px solid") $navColorBackground;
      ul.sub {
        left: 28px;
      }
    }
    li.join {
      background-color: $navColorJoinBackground;
      a {
        color: $navColor;
        &:hover {
          color: $navColorBackground;
        }
      }
    }

    .inbox-indicator {
      position:   absolute;
      z-index:    0;
    }
    .welcome .inbox-indicator {
      top:        0.4em;    // Based on #pageHeader .nav ul.sub li a
      right:      0.4em;
    }
    .sub .inbox-indicator {
      top:        0.5em;    // Based on #pageHeader .nav ul.sub li a
      right:      1em;      // Based on #pageHeader ul.sub li

      background: none;
      border:     none;

      font-size:  0.65em;
      text-align: center;
      color:      $lightest;

      .ui-icon, .count {
        //@include inlineBlock();
        display:        block;
        border:         none;
        vertical-align: bottom;
        padding:        0;
      }

      .ui-icon {
        height:         16px;
      }
      .count {
        padding:        0.8em 0.8em 0 0;
      }
    }
  }
  /* Sub-menu */
  ul.sub {
    display:  none;
    position: absolute;
    top:      $navTopSub;
    left:     2px;
    color:    $navColor;
    padding:  0;
    margin:   0;
  }
  li:hover ul.sub {
    display:  block;
  }
}

#pageHeader, #search {
  ul.sub {
    li {
      background-color: $navColorBackground;
      width:            $navWidthSub;
      height:           auto;
      padding:          unquote("0") $navPadSubItem_lr;
      float:            left;
      margin:           0;
      cursor:           pointer;
      text-align:       left;

    }
    li a:hover, li:hover span {
      color: $navColorSubHover;
    }

    .corner_inner_left, .corner_inner_right, .corner_outter_left, .corner_outter_right {
      position: absolute;
      top: 0;
    }
    .corner_inner_left {
      left: -12px;
    }
    .corner_inner_right {
      right: -12px;
    }

    li.first {
      a, span {
        padding-top: $navPadSubItem_tb * 4;
        border-top: 0;
      }
    }
    li.last {
      @include corners(0, 0, 16px, 16px);
      padding-bottom:   0.25em;
    }
  }

  .nav, .choices {
    ul.sub {
      li {
        a, span {
          display: block;
          padding: 0.5em 0;
          color: $navColorSub;
          font-weight: normal;
          border-top: $navBorder;
        }
      }
      li.active {
        a, span {
          color: $navColorSelected;
        }
      }
      li:hover span, li a:hover {
        color: $navColorSubHover;
      }
    }
  }
}

/************************************************* */
/* Search */
#search {
  position: absolute;
  top: 0;
  right: 0;
  //padding =         !navPadItem !searchPad_r !navPadItem "0"
  padding: $navPadItem $searchPad_r unquote("0 0");
  width: $navWidthSearch;
  height: $tabHeight;

  // Same as .nav
  background: $navColorBackground unquote("url(themes/connexions/images/ui-bg_gloss-wave_10_172322_500x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/");

  .searchBox {
    float: right;
  }
  /* Search Input / Choices */
  .searchInput {
    border: 0;
    color: #999999;
    input {
      border: none;
      //color:        #aaa
      height: 1.5em;
      margin: 0;
      padding: unquote("0") $searchInputInputPadRght unquote("0") $searchInputInputPadLeft;
      width: $searchInputInputWidth;
      font-weight: normal;
    }
    input.ui-state-valid,input.ui-state-invalid {
      color:  $fieldTextColor;
    }
    label.ui-input-over {
      // Adjust for the fact that the input box this label will be over has no
      // padding.
      top:    0.3em;
    }
  }
  .focus {
    color: black;
  }
  .submit {
    display: block;
    position: absolute;
    top: 0.25em;
    left: $searchMagLeft;
    width: $searchMagWidth;
    padding: 0;
    border: 0;
    border-left: 1px dotted #999999;
    background-color: transparent;
    cursor: pointer;
    z-index: 101;
  }
  /* Search Context choices */
  .choices {
    .list {
      top: $tabHeight - ($navPadItem / 1.5);
      left: -15px;
      li {
        width: 180px;
      }
    }
  }
  &:hover .list {
    display: block;
  }
}
