@import "colors";
@import "mixins";

.ui-timeline {
  position:       relative;
  padding:        0 8em 0 0;
  margin:         0;

  .timeline-plot {
    canvas {
      z-index:    1;
    }

    .timeline-tooltip {
      z-index:          2;
      background-color: $pageColorBackground;
      @include opacity(75);
    }
  }

  .timeline-legend {
    //position:     absolute;
    //top:          5px;
    //right:        5px;
    //width:        10em;

    padding:      0;
    margin:       0;

    //z-index:      2;

    .legendColorBox, .legendLabel {
      vertical-align: top;
    }
    .legendLabel {
      padding:        0.2em 0 0.2em 0.5em;
    }

    .timeline-stat {
      color:      $controlColor;
    }
  }

  .tickLabels, .timeline-tooltip, .timeline-legend, .timeline-annotation {
    font-size:  0.8em;
  }

  .timeline-annotation {
    color:      $controlColor;
    text-align: center;
  }

  .tickLabels {
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;
    z-index:  0;

    .xAxis, .yAxis {
      position: absolute;
      width:    100%;
      height:   100%;
    }
  }
}

.rightCol {
  .ui-timeline {
    // Reduce the font sizes, and restrict the plot height
    padding:        1em 0;

    .tickLabels, .timeline-tooltip, .timeline-legend, .timeline-annotation {
      font-size:  0.7em;
    }

    .timeline-legend {
      padding:    0 0 0.5em 4em;

      .legendLabel {
        width:    100%;
      }
    }
  }
}
