@import "colors";

/****** ui-form.sass ****** */
/* ====== Forms ====== */
.ui-form {
  .ui-field {
    position:     relative;
  }
  label {
    display:      block;
    font-size:    0.85em;
    font-weight:  normal;
  }
  label.ui-input-over {
    position:     absolute;
    top:          0.5em;
    left:         0.5em;
    z-index:      2;
    color:        $fieldInfoColor;
  }
  .ui-button {
    font-size:    0.85em;
  }
  .ui-button-text-icon .ui-button-text,
  .ui-button-text-icons .ui-button-text {
    padding:      0.1em 0.3em 0.1em 16px;
  }

  input,
  select,
  textarea {
    // Also requires ui-state-* to provide the border
    //  see themes/default/jquery-ui.css as well as this file below.
    padding:      0.3em;
    color:        $fieldTextColor;
  }
  .ui-state-changed {
    border-color: $inputChangedColor;
  }
  .ui-button {
    cursor:       pointer;
  }
  .ui-state-valid {
    color:        $validationValidColor;
  }
  .ui-state-invalid {
    color:        $errorColor;
  }
  .ui-field-status {
    padding:      0 0 0 1em;
  }
  .ui-dropDown {
    position: relative;
    padding-right: 16px;
    ul {
      display: none;
      position: absolute;
      top: 1.5em;
      right: 0;
      padding: 2px;
      z-index: 10;
      li {
        padding: 2px;
        display: block;
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
}
