@import colors

!displaySortOffset  = 5px

/******* userItems.sass *******/
// Styling for userItems / Bookmarks

.displayOptions
  clear:        both
  height:       1.5em
  text-align:   center

  // Cover the -5px and add a bit more top of .displaySort
  margin-top =  (!displaySortOffset * 2)

  .ui-radio
    display:            block
    float:              left
    input
      margin-top:   14px

    .ui-radio-on
      cursor:     default

  .displayStyle
    display:    block
    float:      left
    text-align: left
    label
      display:      none
    .ui-radio
      .ui-radio-button
        cursor:             pointer
        width:              15px
        height:             14px
        background:         url('sprites/connexions.gif') no-repeat scroll 0px 0px transparent
        background-image:   url('sprites/connexions.gif') !important
        &:hover
          background-color =  !linkColor

      .title
        background-position:    -126px -0px
        &:hover
          background-position:  -186px -0px
      .regular
        background-position:    -126px -20px
        &:hover
          background-position:  -186px -20px
      .full
        background-position:    -126px -40px
        &:hover
          background-position:  -186px -40px

    .ui-radio-on
      .ui-radio-button:hover
        background-color:       transparent
      .title, .title:hover
        background-position:    -156px -0px
      .regular, .regular:hover
        background-position:    -156px -20px
      .full, .full:hover
        background-position:    -156px -40px

  .pagination
    display:    inline
    padding:    0.5em 0
    .pager
      display:  inline
    //  float:    none
    //  .ui-state-default
    //    font-weight:  normal

  .displaySort
    display:    block
    float:      right
    text-align: right
    label
      display:  block
      float:    left
      padding:  0.1em 0.25em
      color =   !controlColor
    .sort-by
      float:        left
      font-weight:  normal
    .sort-order
      float:    right
      // -5px accounted for in the margin of .displayOptions
      top =     -!displaySortOffset
      padding:  0 0.1em
      .ui-radio
        display:          block
        float:            none
        //border:           none
        //background-color: transparent
        cursor:           pointer
        //margin-top:       0.1em
        .ui-radio-button
          width:            32px
          label
            display:  none
          input
            position: relative
            top:      -13px
            right:    2px
      .ui-corner-top
        border-bottom:  none
      .ui-corner-bottom
        border-top:     none

.items
  clear:          both
  .item
    // Favorite / Private
    .control
      display:    block

    // Tagger count, rating, tag date/time
    .meta
      display:    block

    // Item Name / title
    .itemName
      display:    block
      a
        display:  inline

    // User Name
    .userName
      display:    block

    // Item Description
    .description
      display:    block

    // List of tags for this item
    .tags
      display:    block

      // Individual tag
      .tag
        display:    block
        a
          display:  inline
