.link {
  text-decoration:  underline !important;
  color:            #00f;
  cursor:           pointer;
}
.bordered {
  width:        100%;
  margin-top:   1em;
  padding-top:  1em;
  border-top:   1px solid #999;
}
