.sidebar-header {
    padding:        0.25em 0.25em 0.1em;
}

.sidebar-title {
    font-weight:    bold;
}
.sidebar-count {
    font-size:      0.8em;
}

.list {
    padding:      2px;
}
.list listitem {
}

.list listitem:nth-child(even) {
}
.list listitem:nth-child(odd) {
    background-color:   #eee;
}
.list listitem[selected] {
    background-color:   #fbec88;
    color:              #363636;
}
/*
.item-odd {
    background-color:   #eee;
}
.item-odd:active {
    background-color:   inherit;
}
.item-even {
}
*/

.bookmarks {
}
.bookmarks .bookmark-name {
}
.bookmarks .bookmark-properties {
  margin:     0;
  padding:    0;
  /*
  width:      16px;
  height:     16px;

  max-width:  16px;
  min-width:  16px;
  */

  background-image:       url("chrome://connexions/skin/bookmark-props.png");
  background-attachment:  scroll;
  background-repeat:      no-repeat;
  background-color:       transparent;
  background-position:    0 -48px;
}
.bookmarks .favorite,
.bookmarks .private,
.bookmarks .favorite-private {
  /*list-style-image: url("chrome://connexions/skin/bookmark-props.png");*/
}
.bookmarks .favorite {
  background-position:  0 0;
  /*-moz-image-region: rect(0px 16px 16px 0px);*/
}
.bookmarks .private {
  background-position:  0 -16px;
  /*-moz-image-region: rect(16px 16px 32px 0px);*/
}
.bookmarks .favorite-private {
  background-position:  0 -32px;
  /*-moz-image-region: rect(32px 16px 48px 0px);*/
}

.tags {
}
.tags .tag-name {
}
.tags .tag-frequency {
    font-size:      0.8em;
}
