#connexions-sidebar .sidebar-tools {
  background-color: -moz-Dialog;
  -moz-appearance:  toolbox;
}

#connexions-sidebar .sidebar-tools textbox {
}

#connexions-sidebar .sidebar-header {
  padding:          0 0.25em;
  background-color: -moz-Dialog;
}
#connexions-sidebar .sidebar-header .sidebar-context-image {
  width:          16px;
  height:         16px;

  background-attachment:  scroll;
  background-repeat:      no-repeat;
  background-color:       transparent;
  background-position:    -24px -24px;
}
#connexions-sidebar .sidebar-bookmarks-section .sidebar-context-image {
  background-image: url("chrome://connexions/skin/toolbar-button-bookmark.png");
}
#connexions-sidebar .sidebar-tags-section .sidebar-context-image {
  background-image: url("chrome://connexions/skin/toolbar-button-tag.png");
}

#connexions-sidebar .sidebar-count {
  font-size:      0.8em;
}

#connexions-sidebar .sort-order, .sort-by {
  cursor: pointer;
}
#connexions-sidebar .sort-order {
  width:  16px;
  height: 16px;

  background-image:       url("chrome://connexions/skin/sort-order.png");
  background-attachment:  scroll;
  background-repeat:      no-repeat;
  background-color:       transparent;
  background-position:    0 0;
}
#connexions-sidebar .sort-asc {
  background-position:    0 0;
}
#connexions-sidebar .sort-desc {
  background-position:    0 -16px;
}

#connexions-sidebar .list {
  padding:      2px;
}
#connexions-sidebar .list listitem {
}

#connexions-sidebar .list listitem:nth-child(even) {
}
#connexions-sidebar .list listitem:nth-child(odd) {
  background-color:   #eee;
}

/* From firefox/toolkit/themes/winstrip/global/listbox.css { */
#connexions-sidebar .list listitem[selected="true"] {
  background-color:   -moz-cellhighlight;
  color:              -moz-cellhighlighttext;
}
#connexions-sidebar .list:focus > listitem[selected="true"] {
  background-color:   Highlight;
  color:              HighlightText;
}
/* From firefox/toolkit/themes/winstrip/global/listbox.css } */

#connexions-sidebar .bookmarks {
}
#connexions-sidebar .bookmarks .bookmark-name {
}
#connexions-sidebar .bookmarks .bookmark-properties {
  margin:     0;
  padding:    0;

  background-image:       url("chrome://connexions/skin/bookmark-props.png");
  background-attachment:  scroll;
  background-repeat:      no-repeat;
  background-color:       transparent;
  background-position:    0 -80px;
}
#connexions-sidebar .bookmarks .favorite {
  background-position:  0 0;
}
#connexions-sidebar .bookmarks .private {
  background-position:  0 -16px;
}
#connexions-sidebar .bookmarks .favorite-private {
  background-position:  0 -32px;
}
#connexions-sidebar .bookmarks .worldModify {
  background-position:  0 -48px;
}
#connexions-sidebar .bookmarks .favorite-worldModify {
  background-position:  0 -64px;
}

#connexions-sidebar .tags {
}
#connexions-sidebar .tags .tag-name {
}
#connexions-sidebar .tags .tag-frequency {
    font-size:      0.8em;
}
